{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Story 9</title>
<style>
    p{
        text-align: center;
    }
    
</style>
{% endblock meta %}

{% block content %}
{% if user.is_authenticated %}
<h2 style="text-align: center;">Hi, {{ user.username }}!</h2>
<p><a href="{% url 'main:logout' %}">Log Out</a></p>
{% else %}
<h2 style="text-align: center;">You are not logged in</h2>
<p><a href="{% url 'main:login' %}">Log In</a></p>
{% endif %}
{% endblock content %}
