{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Login</title>
<style>
    .form-container{
        padding:10;
        position:relative;
        top:5%;
        width:50%;
        margin:auto;
    }
    
</style>
{% endblock meta %}

{% block content %}
<form action="{% url 'main:login' %}" method="post">
    {% csrf_token %}
    <div class="form-container">
        <h2>Log in</h2>   
        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Username" name="username" id="username">
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="Password" name="password" id="password">
        </div>
        <button type="submit" class="btn btn-dark">Log in</button>
    {% if success == False %}
    <p style="color: red;">Login Failed</p>
    {% endif %}
    <p></p>
    <p>Don't have an account? <a href="{% url 'main:signup' %}">Sign Up</a></p>
    </div>
</form>
{% endblock content %}